#kaocha/v1
 {:bindings {kaocha.stacktrace/*stacktrace-stop-list* ["kaocha.runner"
                                                       "kaocha.plugin.capture_output"
                                                       "kaocha.testable"]}
  :color?   false
  :plugins  [:kaocha.plugin/profiling]
  :tests
  [{:id                  :api
    :kaocha/source-paths ["api/src"]
    :kaocha/test-paths   ["api/test"]}]}
