#kaocha/v1
 {:bindings {kaocha.stacktrace/*stacktrace-stop-list* ["kaocha.runner"
                                                       "kaocha.plugin.capture_output"
                                                       "kaocha.testable"]}
  :color?   false
  :plugins  [:kaocha.plugin/profiling]
  :tests
  [{:id                  :api
    :kaocha/source-paths ["api/src/main"]
    :kaocha/test-paths   ["api/src/test"]}
   {:id                  :testkit
    :kaocha/source-paths ["testkit/src/main"]
    :kaocha/test-paths   ["testkit/src/test"]}
   {:id                  :cloudflare
    :kaocha/source-paths ["providers/cloudflare/src/main"]
    :kaocha/test-paths   ["providers/cloudflare/src/test"]}
   {:id                  :desec
    :kaocha/source-paths ["providers/desec/src/main"]
    :kaocha/test-paths   ["providers/desec/src/test"]}
   {:id                  :porkbun
    :kaocha/source-paths ["providers/porkbun/src/main"]
    :kaocha/test-paths   ["providers/porkbun/src/test"]}
   {:id                  :scripts
    :kaocha/source-paths ["scripts"]
    :kaocha/test-paths   ["scripts/test"]}]}
