#kaocha/v1
 {:bindings {kaocha.stacktrace/*stacktrace-stop-list* ["kaocha.runner"
                                                       "kaocha.plugin.capture_output"
                                                       "kaocha.testable"]}
  :color?   false
  :plugins  [:kaocha.plugin/profiling]
  :tests
  [{:id                  :api
    :kaocha/source-paths ["api/src"]
    :kaocha/test-paths   ["api/test"]}
   {:id                  :testkit
    :kaocha/source-paths ["testkit/src"]
    :kaocha/test-paths   ["testkit/test"]}
   {:id                  :cloudflare
    :kaocha/source-paths ["providers/cloudflare/src"]
    :kaocha/test-paths   ["providers/cloudflare/test"]}]}
