{:paths   ["src/main"]
 :deps    {ol/protocol53 {:local/root "../api"}}
 :aliases {:neil {:project {:name        com.outskirtslabs/protocol53-testkit
                            :url         "https://docs.outskirtslabs.com/ol.protocol53"
                            :license     {:id "MIT"}
                            :description "Reusable provider lifecycle test suite for protocol53"
                            :version     "0.0.TODO"}}}}
