{:paths   ["src"]
 :deps    {}
 :aliases {:neil {:project {:name        com.outskirtslabs/protocol53
                            :url         "https://docs.outskirtslabs.com/ol.protocol53"
                            :license     {:id "MIT"}
                            :description "Cloudflare provider implementation for protocol53"
                            :version     "0.0.TODO"}}}}
